%html
  %head
    %link{:rel =>"stylesheet", :href =>"https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity =>"sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :crossorigin =>"anonymous"}

  %body
    %header.header
      %p
        グループを作成しました

    .contents
      .side
        .side__user
          %p.user__name
            kaho
          %span.icon
            =link_to "#", class: "icon1",:style =>  "color: #ffffff;" do
              %i.fa.fa-edit
            =link_to "#", class: "icon2", :style =>  "color: #ffffff;" do
              %i.fas.fa-cog
        .side__group
          %p.group__name
            グループA
          %p.user__message
            こんちは

      .chat
        .chat__group
          .group__left
            %h1.left__name
              グループA
            %h2.left__member
              Member: kaho, neko
          =link_to "Edit", "/messages", class: "button"
        .chat__user
          = render partial: "message"

          %form{ :action => "/messages", :method => "post" }
            %textarea{ :type => "text", :name => "message", :placeholder => "type a message", :rows => "1"}
            %label{:for =>"file_photo"}
              %i.far.fa-image.fa-2x
              %input{:type =>"file", :id =>"file_photo", :style =>"display:none;"}
            %input{ :type => "submit", :value => "Send", :class => "fas"}
