%html
  %head
    %link{:rel =>"stylesheet", :href =>"https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity =>"sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :crossorigin =>"anonymous"}

  %body
    %header.header
      %p
        グループが作成されました

    .contents
      = render "shared/side_bar"


      .chat
        .chat__group
          .group__left
            %h1.left__name
              グループA
            %h2.left__member
              Member: kaho, neko
          =link_to "Edit", edit_group_path(@group), class: "button"
        .chat__user
          = render partial: "message", collection: @messages
          .form
            = form_for [@group, @message] do |f|
              =f.text_field :body, class: "form__message", placeholder: "type a message"
              .form__mask
                =f.label :image, class: "form__mask__image", for: "file_photo" do
                  %i.far.fa-image.fa-2x
                  =f.file_field :image, id: "file_photo", style: "display:none;"
              =f.submit "Send", class: "fas"
