$whitefont_base-color: #ffffff;
$lowerborder-color: #eeeeee;
$topgroupname-color: #333333;
$lightfont-color: #999999;
$header_button-color: #38AEF0;
$chatbackground-color: #fafafa;
$username_message-color: #434A54;
$formbackground-color: #c0c0c0;

$sidebackground-color1: #2f3e51;
$sidebackground-color2: #253141;

