.chat {
  float: left;
  background-color: $whitefont_base-color;
  width: calc(100% - 300px);
  height: 100%;

  .chat__group {
    position: relative;
    border-bottom: ridge thin $lowerborder-color;
    height: 105px;
    .group__left {
      float: left;
      h1.left__name {
        margin-top: 35px;
        margin-left: 40px;
        color: $topgroupname-color;
        font-size: 20px;
      }
      h2.left__member {
        margin-top: 15px;
        margin-left: 40px;
        margin-bottom: 12px;
        color: $lightfont-color;
        font-size: 12px;
      }
    }
    .button {
      float: right;
      margin-top: 28px;
      margin-right: 40px;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 40px;
      text-align: center;
      color: $header_button-color;
      text-decoration: none;
      border: thin solid;
    }
  }

  .chat__user {
    clear: both;
    position: relative;
    height: calc(100% - 105px);
    padding-top: 46px;
    background-color: chatbackground-color;
    .chat__user__messages {
      overflow: scroll;
      padding-left:40px;
      height: calc(100% - 105px);
      p.user__name {
        color: $username_message-color;
        font-size: 16px;
        font-weight: bold;
        span.user__date {
          color: #999999;
          font-size: 12px;
          font-weight: lighter;
        }
      }
      p.user__message {
        margin-top: 10px;
        margin-bottom: 20px;
        color: #434A54;
        font-size: 14px;
      }
      .lower-message__image {
        display:block;
        height: 125px;
        width: 200px;
        margin-bottom: 40px;
      }
    }
    .chat__user__messages::-webkit-scrollbar{
      display:none;
    }


    .form {
      position: absolute;
      width: 100%;
      height: 100px;
      background-color: $formbackground-color;

      .form__message {
        float: left;
        position: relative;
        z-index: 0;
        height: 50px;
        width: calc(100% - 200px);
        margin-left: 40px;
        margin-top: 25px;
        vertical-align: middle;
        color: $username_message-color;
        font-size: 16px;
        }
      .form__mask__image {
        .far.fa-image.fa-2x{
          position: absolute;
          z-index: 1;
          top: 35px;
          right: 170px;
        }
      }
      .fas {
        float: right;
        margin-top: 25px;
        margin-right: 40px;
        margin-left: 15px;
        background-color: $header_button-color;
        color: $whitefont_base-color;
        width: 100px;
        height: 50px;
        line-height: 50px;
      }

    }
  }
}

