.side {
  float: left;
  background-color: $sidebackground-color1;
  width: 300px;
  height: 100%;

   .side__user {
    position: relative;
    background-color: $sidebackground-color2;
    height:105px;
    p.user__name {
      position: absolute;
      float: left;
      top: 40%;
      left: 20px;
      color: $whitefont_base-color;
      font-size: 16px;
      font-weight: bold;
      }
    span.icon {
      position: absolute;
      display: table;
      float: left;
      top: 40%;
      right: 20px;
      .icon-new-group {
        display: table-cell;
        padding-right: 5px;
        }
      .icon-edit-account {
        display: table-cell;
        }
      }
    }
  .side__group {
    height: calc(100% - 105px);
    bottom: 0;
    p.group__name {
      margin-top: 20px;
      margin-left: 20px;
      color: $whitefont_base-color;
      font-size: 15px;
      font-weight: bold;
      }
    p.user__message {
      margin-top: 5px;
      margin-left: 20px;
      color: $whitefont_base-color;
      font-size: 11px;
      font-weight: bold;
      }
    }
  }


